section {
    border-radius: 12px;

    .header-modal {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #E9E9E9;
        margin-bottom: 22px;
        margin-top: 22px;

        p {
            font-size: 24px;
            font-weight: 700;
            color: #313131;
        }

        mat-icon {
            color: #626262;
            width: 22px;
            height: 22px;
            font-size: 22px;
            cursor: pointer;
        }
    }

    .container-inputs {
        display: flex;
    }

    .search-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #E9E9E9;
        margin-top: 24px;

        input {
            width: 100%;
        }

        button {
            height: 40px;
            font-size: 12px;
            margin-top: 24px;
            color: #1F263E;
            border: 1px solid #1f263e42;
            background-color: transparent;
            font-weight: 600;

            mat-icon {
                width: 16px;
                height: 16px;
                font-size: 16px;
                color: #1F263E;
            }
        }

        .icon-search {
            position: relative;

            mat-icon {
                position: absolute;
                right: 4px;
                top: 6px;
                color: #667085;
            }
        }

        p {
            padding: 20px;
            font-weight: 600;
        }
    }

    td {
        mat-icon {
            cursor: pointer;
            color: #667085;
            font-size: 21px;
            width: 21px;
            height: 21px;
        }
    }

    .content-button {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        margin-top: 44px;
    }
}