.sidenav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 217px;
    height: 100vh;
    background-color: #1F263E;

    .sidenav-content {
        width: 100%;

        .logo-container {
            padding: 24px;
            border-bottom: 1px solid #d8d8d8a6;
        }
    
        .sidenav-link {
            list-style: none;
            padding-top: 40px;
    
            li {
                padding-top: 12px;
    
                a {
                    display: flex;
                    align-items: center;
                    gap: 14px;
                    color: #fff;   
                    text-decoration: none;
                    opacity: 0.8;
                    font-size: 16px;
                    padding: 8px;
                    padding-left: 28px;
        
                    mat-icon {
                        color: #fff;
                    }

                    &.active {
                        background-color: #303750;
                        font-weight: 500;
                    }
                }
            }
        }
    }

    .btn-logout {
        display: flex;
        align-items: center;
        border-top: 1px solid #d8d8d8a6;
        width: 100%;
    }
}