<section>
  <div mat-dialog-title class="header-modal">
    <p>{{ isUpdate ? "Atualizar abordagem" : "Cadastrar nova abordagem" }}</p>
    <mat-icon (click)="closeModal()">close</mat-icon>
  </div>

  <form [formGroup]="formGroup">
    <mat-dialog-content>
      <div class="container-inputs">
        <div class="input-container">
          <label>Teste bafômetro<span>*</span></label>
          <select formControlName="testeBafometro">
            <option value="" disabled selected>Selecione...</option>
            <option value="Feito">Feito</option>
            <option value="Recusado">Recusado</option>
          </select>
          <validator controlName="testeBafometro"></validator>
        </div>
        <div class="input-container">
          <label>Nível de álcool</label>
          <input
            type="text"
            placeholder="Ex: 0,8"
            formControlName="nivelAlcool"
          />
        </div>
      </div>
      <div class="container-inputs">
        <div class="input-container">
          <label>Valor da multa</label>
          <input
            type="text"
            placeholder="Ex: R$ 300,00"
            formControlName="valorMulta"
          />
          <validator controlName="valorMulta"></validator>
        </div>
        <div class="input-container">
          <label>Data recolhimento</label>
          <input type="Date" formControlName="dataRecolhimento" />
        </div>
      </div>
      <div class="container-inputs">
        <div class="input-container">
          <label>Nome do condutor<span>*</span></label>
          <input
            type="text"
            placeholder="Ex: Bruno Silva"
            formControlName="nome"
          />
          <validator controlName="nome"></validator>
        </div>
        <div class="input-container">
          <label>CPF<span>*</span></label>
          <input
            type="text"
            placeholder="Ex: 000.000.000-00"
            formControlName="cpf"
          />
          <validator controlName="cpf"></validator>
        </div>
      </div>
      <div class="container-inputs">
        <div class="input-container">
          <label>RG<span>*</span></label>
          <input
            type="text"
            placeholder="Ex: 00.000.000-00"
            formControlName="rg"
          />
          <validator controlName="rg"></validator>
        </div>
        <div class="input-container">
          <label>Data de Nascimento<span>*</span></label>
          <input type="Date" formControlName="dataNascimento" />
        </div>
        <validator controlName="dataNascimento"></validator>
      </div>
      <div class="veiculo-wrapper mt-2">
        <div class="input-container">
          <label>Pesquisar veículo</label>
          <input
            type="text"
            placeholder="Pesquisar.."
            (input)="searchVeiculo($event)"
          />
        </div>
      </div>

      <div class="table-container">
        <table
          class="table table-auto mt-4 w-full text-sm text-gray-800 border-spacing-2"
        >
          <thead>
            <tr class="text-left align-middle">
              <th style="padding-left: 12px"></th>
              <th>
                <div class="title-icon">
                  <p>Placa</p>
                </div>
              </th>
              <th>
                <div class="title-icon">
                  <p>Marca</p>
                </div>
              </th>
              <th>
                <div class="title-icon">
                  <p>Modelo</p>
                </div>
              </th>
            </tr>
          </thead>
          <tbody>
            @for (veiculo of filteredVeiculos; track veiculo) {
            <tr class="text-left align-middle border-b border-gray-900">
              <td scope="row">
                <div class="form-check">
                  <input
                    name="radio"
                    type="radio"
                    [checked]="formGroup.get('idVeiculo')?.value === veiculo.id"
                    (change)="onChangeVeiculo(veiculo)"
                  />
                </div>
              </td>
              <td>{{ veiculo.placa }}</td>
              <td>{{ veiculo.marca }}</td>
              <td>{{ veiculo.modelo }}</td>
            </tr>
            } @empty {
            <p>Sem veículos registradas no momento!</p>
            }
          </tbody>
        </table>
      </div>

      <div class="content-button" (click)="submitForm()">
        <button type="button" class="btn-primary">
          {{ isUpdate ? "Atualizar" : "Cadastrar" }}
        </button>
      </div>
    </mat-dialog-content>
  </form>
</section>
